.page {
  width: 95vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}

.accountHeader {
  margin-right: 1210px;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #333333;
}

.userCard {
  background-color: #b9b9b9;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 391px;
  width: 1350px;
  margin-bottom: 24px;
}

.userContent {
  height: 100%;
  border-top-left-radius: 24px; 
  border-bottom-left-radius: 24px; 
  margin-left:15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left : 10px;
  padding: 20px;
  background: #f0f0f0;

}

.userImage {
  border-radius: 50%;
  margin-left: -100px; /* Adjusted margin-left */
  margin-right: 20px;
  z-index: 1;
  height: 160px;
  width: 160px;
}

.userInfo {
  margin-right: 120px; /* Adjusted margin-right */
  flex-grow: 1;
  font-weight: medium;
  font-size: 24px;
  margin-left: 48px;
}

.username{
  font-weight: 500;
  font-size: 36px;
}

.user-detail{
  margin-left: 60%;
}

.editButton {
  padding: 8px 45px; /* Adjusted horizontal padding */
    font-size: 18px;

    background-color: #f0f0f0; /* Set initial background color to white */
    color: #000000; /* Set initial text color to black */
    border: 2px solid #000000; /* Set border color to black */
    border-radius: 40px; /* Make the border more rounded */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 330px;
  margin-bottom: 34px;
  margin-right: 24px;
}
.editButton:hover {
  background-color: #000000; /* Change background color on hover to black */
  color: #ffffff; /* Change text color on hover to white */
  border-color: #ffffff; /* Change border color on hover to white */
}

.reviewHeader {
  font-size: 24px;
  font-weight: medium;
  margin-right: 1290px;
  display: inline;
  white-space: nowrap;
}
