.container {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.container > * {
    margin-top: 10px;
}

.leftBlock {
    width: 100%;
    height: 50%;
    background-color: whitesmoke;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.leftBlock > * {
    margin-top: 20px;
}

.leftBlock > img {
    margin-left: 22px;
}

.leftBlock > div {
    font-size: large;
    margin-left: 30px;
    margin-right: 40px;
    color: #575757;
}

.leftBlock > button {
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: 35px;
    color: white;
    width: 30%;
    min-width: 150px;
    max-width: 150px;
    height: 35px;
    background-color: #6A957A;
    border-radius: 24px;
    border-color: #6A957A;
    border-width: 1px;
    transition: all 0.25s ease;
    align-self: center;
}

.leftBlock > button:hover {
    color: #6A957A;
    background-color: transparent;
}

.rightBlock {
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
    background-color: #B5ACAC;
    border-radius: 24px;
}

@media screen and (min-width: 400px) {
    .leftBlock > div {
        font-size: x-large;
    }
}

@media screen and (min-width: 900px) {
    .container {
        height: 1000px;
    }
    .leftBlock > div {
        font-size: xx-large;
    }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        height: 600px;
        margin-top: 30px;
    }
    .leftBlock {
        width: 41%;
        height: 100%;
    }
    .leftBlock > div {
        font-size: xx-large;
    }
    .leftBlock > button {
        margin-left: 30px;
        align-self: normal;
    }
    .rightBlock {
        width: 57%;
        height: 100%;
    }
}