.overallContainer {
    width: 900px;
    height: 340px;
    align-self: center;
    justify-self: center;
    background-color: #f0f0f0;
    border-radius: 24px;
    font-family: "Poppins";
    padding-top: 1px;
}

.overallContainer > div > div > h1 {
    font-size: 57px;
    font-weight: 400;
}

.overallContainer > h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 23px;
}

.overallContainer > div > div > h3 {
    font-size: 14px;
    font-weight: 500;
}

.line {
    width: 290px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(51, 51, 51, 0.25);
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left: 5px;
}

.colorline {
    height: 10px;
    background-color: rgb(51, 51, 51);
    width: 0%;
    border-radius: 12px;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.center > button {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    border-radius: 40px;
    border-color: #333333;
    border-width: 2px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.center > button:hover {
    background-color: #333333;
    color: white;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating > * {
    display: flex;
}
