.container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.imgContainer {
    position: relative;
    height: 800px;
    width: 720px;
    border-radius: 24px;
    background-color: #f0f0f0;
    margin-right: 12px;
}

.nameContainer {
    height: 240px;
    width: 720px;
    background-color: #f0f0f0;
    margin-left: 12px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.nameContainer > h3 {
    padding-top: 24px;
    padding-left: 24px;
    margin-top: 7px;
    font-size: 19px;
    font-weight: 500;
}

.nameText {
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
    flex-direction: row;
    align-items:baseline;
}

.nameText > h1 {
    font-size: 28px;
    font-weight: 500;
    border-color: rgba(51, 51, 51, 0.25);
    border-bottom-width: 1px;
    margin-right: 24px;
}

.nameText > p {
    font-size: 19;
    font-weight: 500;
}

.description {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding: 12px;
    border-radius: 4px;
    border-color: rgba(51, 51, 51,0.20);
    background-color: transparent;
    color: rgba(0, 0, 0, 0.60);
    border-width: 1px;
    width: 672px;
    height: 85px;
}

.belowContainer {
    height: auto;
    width: 720px;
    border-radius: 24px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.addressContainer {
    height: 296px;
    width: 720px;
    border-radius: 24px;
    margin-right: 12px;
    background-color: #f0f0f0;
}

.addressContainer > h1 {
    font-size: 19px;
    font-weight: 500;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 8px;
}

.address {
    width: 100%;
    height: 100%;
    color: rgba(51, 51, 51,0.60);
    display: flex;
    flex-direction: row;
}

.address > div {
    margin: auto;
}

.address > div > div > * {
    margin-top: 8px;
}

.address > div > div > h1 {
    font-size: 19px;
    font-weight: 500;
    color: #000000;
}

.address > div > div > div {
    width: 300px;
    height: 38px;
    font-size: 14px;
    padding-left: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.60);
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.20);
    border-width: 2px;
    border-radius: 4px;
}

.dateContainer {
    height: 134px;
    width: 720px;
    border-radius: 24px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.dateContainer > * {
    margin-left: 24px;
    margin-right: 24px;
}

.dateContainer > div > h1 {
    margin-top: 24px;
    margin-bottom: 11px;
    font-size: 19px;
    font-weight: 500;
}

.time {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.time > h2 {
    font-size: 19px;
    font-weight: 500;
}

.time > div {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.time > div > div {
    display: flex;
    width: 140px;
    height: 40px;
    padding-left: 18px;
    align-items: center;
    border-color: rgba(0, 0, 0, 0.20);
    background-color: transparent;
    color: rgba(0, 0, 0, 0.60);
    border-width: 1px;
    border-radius: 4px;
}

.date {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

.date > div {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date > div > input[type="checkbox"] {
    background-color: transparent;
    border-color: #333333;
}

.date > div > input{
    width: 27px;
    height: 27px;
}

.buttonContainer {
    margin-top: 24px;
    margin-left: 12px;
    width: 720px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    margin-left: auto;
    font-size: 18px;
    margin-right: 12px;
    font-weight: 500;
    color: #333333;
    border-radius: 40px;
    border-color: #333333;
    border-width: 2px;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

.button:hover {
    background-color: #333333;
    color: white;
}

.createButton {
    font-size: 32px;
    font-weight: 500;
    margin-left: 25px;
}

.customButton {
    color: #333333;
}