.card {
    margin-top: 10px;
    width: 35vw;
    height: 50vh;
    position: relative;
    background-color: #F0F0F0;
    border-radius: 24px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.cardtext {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    bottom: 0;
    height: 20%;
    width: 100%;
    padding-bottom: 5px;
    background: linear-gradient(0deg, rgb(0, 0, 0), transparent);
}

.ratingbox {
    color: black;
    border-radius: 24px;
    background-color: white;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 40%;
    width: 95%;
    margin: auto;
}

.text {
    margin-left: 15px;
}

.slider {
    display: flex;
    justify-self: center;
    width: 80vw;
    height: 100vh;
}