.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh; /* Set height to 100% of viewport height */
}

.title {
    font-size: 50px; /* Increase the font size of the title */
    font-weight: none;
    margin-bottom: 20px;
}

.buttonRow {
    display: flex;
    padding : 40px;
    flex-direction: row;
    justify-content: center; /* Center buttons horizontally */
}

.button {
    padding: 10px 45px; /* Adjusted horizontal padding */
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
    background-color: #ffffff; /* Set initial background color to white */
    color: #000000; /* Set initial text color to black */
    border: 2px solid #000000; /* Set border color to black */
    border-radius: 25px; /* Make the border more rounded */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for background color, text color, and border color change */
}

.button:hover {
    background-color: #000000; /* Change background color on hover to black */
    color: #ffffff; /* Change text color on hover to white */
    border-color: #ffffff; /* Change border color on hover to white */
}


