.card{
    border:#F0F0F0 solid;
    border-radius: 20px;
    background-color: #F0F0F0;
    padding: 24px;
    height: auto;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    border: black solid 2px;
    border-radius: 20px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 82px;
    height: 36px;
}
.information{
    border: rgba(00, 00, 00,0.2) solid;
    border-radius: 5px;
    padding-left: 20px;
    color: rgba(00, 00, 00,0.6);
    margin-left: 20px;
    width: 205px;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    align-content: center;
}
.address{
    border: rgba(00, 00, 00,0.2) solid;
    color: rgba(00, 00, 00,0.6);
    border-radius: 5px;
    width: 270px;
    height: 75%;
    padding: 10px;
}
