.page {
    width: 95vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.page > h1 {
    margin-left: 15px;
    margin-top: 24px;
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 500;
}

.link {
    color: #969696;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}